<div class="card">
    <div class="card-body">
        <span><i class="fa fa-arrow-left" id="arrow-left" ></i></span>
        <span>
            <h3 class="card-title">username</h3>
            <h4 class="card-title">@userhandle</h4>
        </span>
    </div>
    <div class="header">
        <div class="card-body-title">Followers</div>
        <div class="card-body-title">Following</div>
    </div>
    

    <!-- <ul class="list-group list-group-flush" >
      <li class="list-group-item" *ngFor="let trend of Trend | slice:0:5" let i="index">
        <div class="list-body">
        <div class="trend-head">
            {{trend.trendingIn}}<br>
            <i class="fa fa-angle-down" id="angle-down" aria-hidden="true" (click)="dropdownShow(trend._id)"></i>
            <div class="dropdown" id="modal" tabindex="-1" role="dialog" [style.display]="isDropdownClicked[trend._id] ? 'block' : 'none'">
                <div class="modal-body">
                <ul >
                    <li class="list-dialog" *ngFor="let dialogs of ModalDialog">
                        <span class="dialog">
                            <i class="fa fa-frown-o"  id="frown" aria-hidden="true"></i>
                            {{dialogs.message}}<br>                    
                        </span>
                    </li>
                </ul>          
                </div>
            </div> 
        </div>
        <h5>#{{trend.hashtag}}</h5>
        <h4>{{trend.tweets}} tweets</h4>
        </div>
      </li>
      
    </ul>
    
    <div class="card-body">
      <a class="btn btn-link" (click)="showMore()">Show more</a>
    </div> -->
  </div>

  