.sidenav{
  background-color: white;
  width: 32rem;
  border-right: 1px solid #cdcdcd;
}

.sidenav-sub-container{
  margin-left: 4.8rem;
}

a{
  margin-bottom: 0.5rem;
}

span{
  color: black;
  font-weight: 640;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 2rem;
}

.fa-twitter{
  color: #007bff;
  font-size: 3rem;
}

.fa-twitter:hover{
  border-radius: 30px;
  background-color: #F5F8FA;
}

.tweet-main-btn{
  background-color: rgba(29,161,242,1.00);
  border: none;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  padding: 15px 90px;
  text-align: center;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
}

.for-hover i{
  width: 25px;
}

i{
  margin-right: 2rem;
  color: black;
  font-size: 2.4rem;
  font-weight: lighter;
}

.for-hover:hover{
  background-color: #F5F8FA;
  color: rgba(29,161,242,1.00);
  border-radius: 30px;
}

.for-hover:hover i, .for-hover:hover span{
  color: rgba(29,161,242,1.00);
}
.colorChange{
  color: rgba(29,161,242,1.00);
}

a:focus {
  color:blue;
  outline: none;
}

/*-----------------------------------------------------------------------------------*/

.icon{
  font-size: 2.5rem;
  padding: 1rem;
}

.special{
  padding: 1rem 1.25rem 1rem 1.25rem;
}

.sidenav-small{
  background-color: white;
  width: 12rem;
  border-right: 1px solid #E1E8ED;
}

.sidenav-sub-small-container{
  margin-left: 2.5rem;
}

.icon:hover{
  background-color: #F5F8FA;
  color: rgba(29,161,242,1.00);
  border-radius: 30px;
}

.fa-plus{
  background-color: rgba(29,161,242,1.00);
  border-radius: 30px;
  color: white;
}

/*-----------------------------------------------------------------------------*/

.page-title{
  font-weight: bold;
}

.user-image{
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 3rem;
}

.lower{
  position: fixed;
  bottom: 0;
}

.main-content{
  background-color: white;
  width: 50%;
}

.main-content-big{
  background-color: white;
  width: 45%;
}

.navigation-header{
  border: #E1E8ED;
  border-left: none;
  border-style: solid;
  border-width: 0.2rem;
}

.floating-btn{
  position: fixed;
  left: 75%;
  top: 80%;
  color: white;
  background-color: #007bff;
  padding: 1.5rem 1.8rem 1.5rem 1.8rem;
  border-radius: 30px;
}