<div class="card" style="position: relative;">

  <div class="message-parent" *ngIf="message">
    <div class="message" style="position: absolute; top: 0; right: 0; width: 20%; 
    color: #ffffff; background-color: rgb(0, 98, 255); padding: 2rem;">
      {{ message }}
    </div>
  </div>

    <div class="card-body">
      <div class="image">
          <i class="fa fa-twitter" id="twitter" ></i>
        </div>
      <h1 class="card-title">Customize your experience</h1>
      <form #userForm = "ngForm">

       <div class="card-name">
        <h1 class="text">Track where you see twitter content across the web</h1>
      </div>
      <div class="card-my-name">
       
         Twitter uses this data to personalize your experience. This web browsing history will never be stored with your name,email or phone number.
          <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox" checked>
       
     
         </div>
      <div class="card-myname">
       For more details about these settings, visit the <a href="https://help.twitter.com/en/managing-your-account/new-account-settings">Help Center.</a> 
       
      </div>
      
      </form>
    </div>
</div>
