*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.profile-container{
  border: 1px solid #E6ECF0;
}
.fa-arrow-left{
  font-size: 20px;
  color:#1A91DA;
  padding: 15px 5px;
  cursor: pointer;

}
.fa-arrow-left:hover{
  background-color:rgb(197, 220, 235);
  border-radius: 50%;
  
}
.profile-container-top-nav{
  border-bottom: 1px solid #E6ECF0;
  height: 53px;
  
}
.profile-container-top-nav h4{
  line-height: 1.3125;
  font-weight: 800;
  margin-top: 3px;
}
.profile-container-top-nav p{
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  margin-top: -6px;
}

.profile-description-menu h4{
  line-height: 1.3125;
  font-weight: 800;
  margin-top: 3px;
}
.profile-description-menu p, span{
  font-size: 15px;
  color:#9AA5AF;
  line-height: 1.3125;
  font-weight: 400;
  margin-top: -6px;
}
#followers-number, #following-number{
  color: black;
  font-weight: 700;
}
.profile-block {
    margin: auto;
    position: relative;
    width: 100%;
  }
.cover-container{
    background: -webkit-radial-gradient(bottom, #73D6F5 12%, #1E90FF);
    background: radial-gradient(at bottom, #73D6F5 12%, #1E90FF)
}
  .profile-block-thumb{
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }
  
  .profile-img a{
    bottom: -20px;
    border-radius: 50%;
    box-shadow: none;
    display: block;
    left: 25px;
    padding:1px;
    position: absolute;
    height: 160px;
    width: 160px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    z-index:9;
  }
  .profile-img img {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height:158px;
    padding: 5px;
    width:158px;
  }
  .profile-block-menu{
    height: 44px;
    position: relative;
    width:100%;
    overflow:hidden;
   }
   .profile-description-menu{
    margin-top: 20px;
}
 
  .block-menu ul{
    margin:0;
    padding:0;
      
  }
  .block-menu ul li{
    display:inline-block;
      
  }
  .block-menu ul li a:hover {
    text-decoration: none;
    color: rgba(29,161,242,1.00);
  }
  .block-menu ul li a {
    float: left;
    font-size: 15px;
    font-weight: bolder;
    height: 50px;
    line-height: 4.0;
    padding-right: 85px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    color:gray;
    text-transform:capitalize;
  }
  .edit-profile-btn{
    border: 1px solid rgba(29,161,242,1.00);
    background-color: white;
    color:rgba(29,161,242,1.00);
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0;
    position: relative;
    top: -6px;
    cursor: pointer;
    border-radius: 30px;
    font-size:15px;
    margin-top: 10px;
  }

.who-to-follow-div-content{
    padding:15px 15px;
  }
.who-to-follow-div-middle{
    padding-left: 5%;
}
.who-to-follow-div{
    margin: auto;
    background-color: #F5F8FA;
    border-radius: 10px;;
}
.who-to-follow-div h5{
    padding:10px;
    color: black;
    font-size: 20px;
    font-weight: 800;
}
.who-to-follow-div-content-img a{
    border-radius: 50%;
    box-shadow: none;
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    z-index:9;
}
.who-to-follow-div-content-img img {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height:60px;
    width:60px;
  }
  .who-to-follow-btn{
    border: 1px solid rgba(29,161,242,1.00);
    background-color: #F5F8FA;
    color:rgba(29,161,242,1.00);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0;
    position: relative;
    top: -6px;
    cursor: pointer;
    border-radius: 30px;
    font-size:15px;
    margin-top: 10px;
  }

  .form-group {
    margin:0;
    padding:20px ;
    }

    .search-form{
      display: flex;
    }
    .search-form button{
      margin-left:-5px;
      margin-top: 2px;
      border:none;
      background-color:white ;

    } 
.form-control {
    padding:0px 25px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: gray;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid rgba(29,161,242,1.00);
    -webkit-box-shadow: none;
    box-shadow: none;
    height:40px;
    border-radius: 30px!important;
}
.right-side-nav-2-content{
  padding:15px 15px;
  
}
.right-side-nav-middle{
  padding-left: 5%;
}
.right-side-nav-2{
    margin: auto;
    background-color: #F5F8FA;
    border-radius: 10px;;
}
.right-side-nav-2 h5{
    padding:10px;
    color: black;
    font-size: 20px;
    font-weight: 800;
}
.right-nav-content-img a{
    
    border-radius: 50%;
    box-shadow: none;
    display: block;
    
    
    position: absolute;
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    z-index:9;
}
.right-nav-content-img img {
    background-color: #fff;
    border-radius: 50%;
    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height:60px;
    width:60px;
  }
  .right-nav-content-follow-btn{
    border: 1px solid rgba(29,161,242,1.00);
    background-color: #F5F8FA;
    color:rgba(29,161,242,1.00);
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0;
    position: relative;
    top: -6px;
    cursor: pointer;
    border-radius: 30px;
    font-size:15px;
    margin-top: 10px;
  }
  .tweet-image{
    width: 100%;
  }