<div class="feed"id="feed">
          <div class="item" *ngFor="let feed of Feed;index as _id">

              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img  src="{{feed.photos}}">
                    <i></i>
                  </a>
                </div>
                <div class="media-body" >
                  <div class="text-muted pull-right" >{{feed.text}}</div>
                  <div class="media-heading">{{feed.title}}</div>
                  <div class="media">{{feed.name}}</div>
                  <div class="content" >{{feed.description}}</div>
                  <div class="image">
                      <img class="content-image" src="{{feed.newphoto}}">
                  </div>
                  <div class="icons">
                    <span ><i class="fa fa-comment comment icon"(click)="showModal()"></i></span>
                    <span ><i class="fa fa-retweet icon"></i></span>
                    <a (click)="onSelect(feed._id,feed)" id="like"><i  [ngClass]="{'selected':feed.isClicked==true}"class="fa fa-heart icon"></i></a>
                    <span><i class="fa fa-share-square icon"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <div [ngClass]="{'show':display==true}"id="#commentModal"class="modal"tabindex="-1">
       <div class="modal-dialog"style="z-index:1000">
         <div class="modal-content">
            <div class="modal-header">           
              <button class="close "data-dismiss="modal"(click)="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
              <div class="handler">
              <a class="avatar avatar-online" href="javascript:void(0)">
                <img  src="../assets/Images/image.jpeg">
              </a>
              <div >
                 <div class="text-muted pull-right" >Amitabh</div>
                  <div class="media-heading">{{comment.user}}</div>
                  <div class="media">{{comment.tweet}}</div>
                  <div class="content" >{{comment.comment}}</div>
              </div>
             </div> 
             <div >
             <a class="avatar avatar-online" href="javascript:void(0)">
              <img  src="../assets/Images/image.jpeg">
            </a>

              <textarea placeholder="Tweet your reply ?" class="tweet-area" (keyup)="check($event)" [(ngModel)]="textArea"></textarea>
             </div> 

          </div>
          <div class="modal-footer">
            <div class="d-flex align-items-center buttons">
              <a><i class="fa fa-picture-o icon2 mr-2" aria-hidden="true"></i></a>
              <a><i class="fa fa-tasks icon2 mr-2" aria-hidden="true"></i></a>
              <a><i class="fa fa-git-square icon2 special mr-2" aria-hidden="true"></i></a>
              <a><i class="fa fa-smile-o icon2 special mr-2" aria-hidden="true"></i></a>
              <button class="btn tweet ml-auto" >Reply</button>
          </div>
        </div>
      </div>
    </div>