<div class="container">
<div class="col-md-7"> 
   
            <div class="list-group-item" id="feed"*ngFor="let feed of Feed;index as _id">
              <div class="media">
                <div class="media-left">
                  <a class="avatar avatar-online" href="javascript:void(0)">
                    <img  src="{{feed.photos}}">
                    <i></i>
                  </a>
                </div>
                <div class="media-body" >
                  <div class="text-muted pull-right" >{{feed.text}}</div>
                  <div class="media-heading">{{feed.title}}</div>
                  <div class="media">{{feed.name}}</div>
                  <div class="content" >{{feed.description}}</div>
                  <div class="image">
                      <img class="content-image" src="{{feed.newphoto}}">
                  </div>
                  <div class="icons">
                    <span ><i class="fa fa-comment comment icon"></i></span>
                    <span ><i class="fa fa-retweet icon"></i></span>
                    <a (click)="onSelect(feed._id,feed)" id="like"><i  [ngClass]="{'selected':feed.isClicked==true}"class="fa fa-heart icon"></i></a>
                    <span><i class="fa fa-share-square icon"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        
        
