<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container-fluid">
    <div class="card-group">
      <div class="card front-bg">
        <div class="container text-center">
          <div class="card-body card-content-left">
            <h5><span><i class="fa fa-fw fa-search mt-3"></i></span>Follow your interests</h5>
            <h5><span><i class="fa fa-fw fa-user mt-3"></i></span>Hear what people are talking about</h5>
            <h5><span><i class="fa fa-fw fa-comment mt-3"></i></span>Join the conversation</h5>
            <!-- <a class="text-white font-weight-bolder" href="#"><i class="fa fa-fw fa-search"></i> Follow your interests</a>
          <br>
          <a class="text-white font-weight-bolder" href="#"><i class="fa fa-fw fa-comment mt-3"></i> Hear what people are talking about</a>
          <br>
          <a class="text-white font-weight-bolder" href="#"><i class="fa fa-fw fa-user mt-3"></i>Join the conversation</a> -->
          </div>
        </div>
      </div>
      <div class="card bg6">
        <div class="container text-center">
          <div class="card-body card-content-right">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <h2 class="">See what's happening in the world right now</h2>
            <h6 class="">Join Twitter Today</h6>
            <button class="btn btn-outline-primary btn-primary text-white text-center button-style"><b>Sign
                up</b></button>
            <button class="btn text-center button-style-new mt-2"><b>Log in</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
