<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container-fluid">
    <div class="card-group">
      <div class="card front-bg">
        <div class="container text-center">
          <div class="card-body card-content-left">
            <h2><span><i class="fa fa-fw fa-search mt-3"></i></span>Follow your interests</h2>
            <h2><span><i class="fa fa-fw fa-user mt-3"></i></span>Hear what people are talking about</h2>
            <h2><span><i class="fa fa-fw fa-comment mt-3"></i></span>Join the conversation</h2>
            <!-- <a class="text-white font-weight-bolder" href="#"><i class="fa fa-fw fa-search"></i> Follow your interests</a>
          <br>
          <a class="text-white font-weight-bolder" href="#"><i class="fa fa-fw fa-comment mt-3"></i> Hear what people are talking about</a>
          <br>
          <a class="text-white font-weight-bolder" href="#"><i class="fa fa-fw fa-user mt-3"></i>Join the conversation</a> -->
          </div>
        </div>
      </div>
      <div class="card bg6">
        <div class="container text-center">
          <div class="card-body card-content-right">
            <i class="fa fa-twitter m-4" aria-hidden="true"></i>
            <h1 class="font-weight-bolder mt-3">See what's happening in the <br>world right now</h1>
            <h1 class="right-content mt-3">Join Twitter Today</h1>
            <div class="text-center buttons-design">
              <button class="btn btn-outline-primary btn-primary text-white text-center button-style mt-5" [routerLink]="['signup']"><b>Sign
                  up</b></button>
              <br>
              <button class="btn text-center button-style-new mt-3"  [routerLink]="['login']"><b>Log in</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
