<div class="twitter-card"> 
    <span class="span">Anchal Hora</span>
    <i class="fa fa-arrow-left" id="arrow-left"></i>
    <div class="twitter">
    <div class="row-top">
      <div class="user-wrapper">
         <span class="user-image"></span>
      </div>
       <span class="edit">Edit Profile</span>
    </div>
    <div class="user">Anchal Hora</div>
    <div class="username">@horaanchal_</div>
    <p class="profile-bio">Reader, Chef, Connector of Awesomeness, Information Addict, Part-time dictator, full time foodie. I walk faster when I see a creepy van.</p>
    <div class="row-middle">
      <span class="profile-location">
        <i class="fa fa-map-marker"></i>
        Delhi, India
      </span>
      <span class="profile-website">
        <i class="fa fa-link"></i>
        <a href="https://www.instagram.com/anchal.hora/">https://www.instagram.com/anchal.hora/</a>
      </span>
      <span class="profile-calendar">
        <i class="fa fa-calendar"></i>
        Joined 28 August
      </span>
    </div>
    
      <span class="count">
        <b>10K</b> Followers
      </span>
    <span class="count">
       <b>10K</b> Following
        </span>
  
        <div class="row-bottom">
            <span class="followers">
              <a href=#>Tweets</a>
             </span>
            <span class="followers">
                <a href=#>Tweets & Replies</a>
             </span>
             <span class="followers">
                <a href=#>Media</a>
               </span>
            <span class="followers">
                <a href=#>Likes</a>
            </span>
          </div>
  </div>
  </div>
