.card{
    background-color: white;
    border: none;
}
#myButton{
    width: 38vw;
    border-radius: 4rem;
    height: 45px;
    text-align: center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: medium;
    background-color: rgb(162,207,254);
    border: none;
    margin-top: 2%;
    color: white;
    padding:10px;
}

.form-control{
    height: 2rem;
    background-color: rgb(245, 248, 250);
    border-bottom: skyblue;
    border: none ;
    border-bottom: 1.5px solid darkslategrey;
    box-shadow: none; 
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.form-control:focus {
    border-color:  rgba(29,161,242,1.00);
    box-shadow: none;     
}

.form-group:focus .text{
    color : rgba(29,161,242,1.00);
}

h1{
    text-align: center;
    color:black;
    font-weight: bolder;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    padding-bottom: 2%;
}
.card-footer a{
    text-align: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: rgba(29,161,242,1.00);
    font-weight: lighter;
    cursor: pointer;
} 
.card-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: none;
    color:Blue;
    background-color: white;
    font-weight: 700;
    
}

#twitter{
    color: rgba(29,161,242,1.00);
    font-size: 4rem;
}

.image{
    text-align: center;
    margin-bottom: 25px;
}

.text{
    padding: 1% 2%;
    font-size:15px;
}

.form-group{
    background-color: rgb(245, 248, 250);
}

.message{
    color:rgb(224,0,0);
    overflow-wrap: break-word;
}

@media only screen and (min-device-width: 320px)and (max-width: 1024px) {
    .card-body{
        padding: 2% 10%;
    }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px){
    .card-body{
        padding: 2% 20%;
    }
}
@media screen  and (min-device-width: 1200px) and (max-device-width: 1600px){ 
    .card-body{
        padding: 2% 30%;
    }
}


