#settings {
    font-size: 2rem;   
    color: rgba(29,161,242,1.00);
    margin-top: 10px;
    position: absolute;
    right: 0;
    margin-right: 4.5%;
}

.card{
    background-color:rgb(245, 248, 250);
    border-radius: 4%;
    width: 20vw !important;
    /* margin: auto; */
}

.card-body{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.card-body h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: black;
    font-weight: 700;
    font-size: 2.3rem;
}

.list-group-item{
    background-color:unset;
    padding-left: 6%;
}

h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}

h4{
    font-size: 1.5rem;
    font-weight: 400;
}

.card-link{
    margin-bottom: 5%;
    font-weight: 500;
    color:rgba(29,161,242,1.00);
}

.trend-head{
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 1.5rem;
}

.trend-head #angle-down{
    margin-top: 5px ;
    position: absolute;
    right: 0;
    margin-right: 2%;
    font-size: 1.8rem;
}

.trend-head #dropdown{
    position: absolute;  /* <-- added declarations */
}

.trend-head #angle-down :hover{
    border-radius: 50%;
    background-color: white;
    color: rgba(29,161,242,1.00);
}

.modal-body{
    width: fit-content;
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
    border-radius: 2%;
}

.list-dialog{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
}

.list-group list-group-flush{
    cursor: pointer;
}

li :hover{
    background-color: rgb(230, 236, 240);
}


.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 20vw; 
    margin-bottom: 10px;
    margin-top: 1%;
} 

.input-icons :focus{ 
    background-color: white;
    outline: none;
    border:1px solid rgba(29,161,242,1.00);
} 

  
.icon { 
    padding: 10px; 
    min-width: 40px; 
    font-size: 1.8rem;
    padding-top: 12px;

} 
  
.input-field { 
   
    padding: 10px; 
    padding-left: 45px;
    font-size: 1.5rem;
    background-color:rgb(230, 236, 240);
    border-radius:50px;
    width: 20vw !important;
    border: none;
} 

.btn-link {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(29,161,242,1.00) !important;
}

